.high {
	background-color: red;
}
  
.medium {
	background-color: orange;
}

.low {
	background-color: #666666;
}

.done {
	background-color: black;
	text-decoration: line-through;
}

.done li {
	color: cyan;
}

.medium {
	color: brown;
}
	
.high li {
	color: white;
}
	
h2 {
	color: white;
	text-align: center;
		
}

section {
	height: 200px;
	width: 300px;
}


