.high {
	background-color: red;
}
  
.medium {
	background-color: orange;
}

.low {
	background-color: #666666;
}

.done {
	background-color: black
}

.done li {
	color: cyan;
}

.medium {
	color: brown;
}
	
.high li {
	color: white;
}
	
h2 {
	color: white;
	text-align: center;
		
}


section {
    border: 5px solid black;
    height: 200px;
    width: 300px;
	
}
